
/*
display -webkit-flex
display -moz-flex
display -ms-flex
display -o-flex
display flex
*/


body
  margin 0
  padding 0
  font-family 'Roboto', sans-serif

.header-contenedor
  width 100%
  height 70px
  position absolute
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  z-index 10
  transition all 1.1s ease-in-out
  margin-top 0
  .header-logo
    width 50%
    text-align center
    img 
      width 130px
      height 43px
      margin-top 12.5px
  .header-menu-burger
    width 60%

.icon-menu--content
  width 25px
  height 18px
  cursor pointer
  outline none 
  margin 26px 40px 0 auto
  display block

.icon-menu
  display inline-block
  margin-top 0
  outline none
  small
    display block
    border-radius 3em
    width 25px
    height 4px
    margin 0 0 3px 0
    background-color #ffffff
    transition all 0.3s ease-in-out
    &:nth-child(1), &:nth-child(3)
      width 15px
      margin-left 5px
    &:nth-child(3)
      margin-bottom 0
  &:hover
    outline none 

.icon-menu--active
  small
    &:nth-child(1), &:nth-child(3)
      transform rotate(45deg) translateY(5.7px)
      width 25px
      height 5px
      background-color color_official_red
    &:nth-child(2)
      width 0
      height 0
    &:nth-child(3)
      transform rotate(-45deg) translateY(-5.7px)

.overlay-menu
  position fixed
  top 0
  left 0
  width 100%
  height 100vh
  background-color rgba(243,226,118,90)
  z-index 7
  display none

.menu-options
  position absolute
  width 100%
  height auto
  top 50%
  left 50%
  transform translate(-50%, -50%)
  ul
    padding 0
    margin 0
    text-align center
    li
      list-style none
      height 45px
      line-height 45px
      a
        display block
        width 100%
        height 100%
        text-decoration none
        color #263238
        font-size 25px
        font-weight 500
        cursor pointer
        font-family 'Oswald', sans-serif
        transition all 0.8s ease-in-out
        &:hover
          transform scale(1.2)
          color #e65100
          text-shadow 1px 1px 2px #ffffff

.contenedor-principal
  width 100%
  height 95vh
  background-image url('../img/amor-al-projimo.jpg')
  background-size cover
  background-position center
  position relative
  &--efecto
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-image: radial-gradient(50% 99%, rgba(255,255,255,0.10) 53%, rgba(0,0,0,0.10) 100%)
  &--mensaje
    position absolute
    top 40%
    left 10%
    width 80%
    height 300px
    h1
      font-family 'Anton', sans-serif
      text-transform uppercase
      color #f7cc47
      text-shadow 2px 2px rgba(0,0,0,0.57)
    p
      color #ffffff
      text-shadow 1px 1px rgba(0,0,0,0.57)
    .boton-leer
      width 120px
      height 40px
      text-align center
      font-weight 700
      line-height 40px
      border-radius 3px
      background-color #ff9100   
      color #ffffff
      cursor pointer

.modal-contenedor
  position fixed
  top 0
  left 0
  width 100%
  height 100vh
  z-index 20
  overflow-y auto
  .boton-cerrar
    position absolute
    top 20px
    right 30px
    width 40px
    height 40px
    line-height 52px
    text-align center
    border-radius 50%
    cursor pointer
    background-color #ffc400
    color #ffffff

.modal-contenedor--informacion
  width 85%
  height calc(100vh - 85px)
  margin 75px auto 0 auto
  .titulo
    color #ffffff
    h4
      font-size 22px
  .contenido
    color #eceff1
    p
      line-height 22px
      font-size 18px
    ul
      li
        font-size 18px
        line-height 22px
        margin-bottom 10px

.modal-principal, .modal-historia
  display none
  background-color rgba(38,50,56,0.95)

.nosotros
  width 100%
  height auto
  background-color #F3E276
  padding 40px 0
  &-mensaje
    width 85%
    margin 0 auto
    h2
      margin 0
      color #F19307
    p
      color #794B08
      line-height 25px
  &-imagen
    display none
    background-image url('../img/quienes-somos.png')

.efecto-titulo
  position relative
  z-index 2
  font-family 'Anton', sans-serif
  span
    position absolute
    left 30px
    font-size 45px 
    top -22px
    z-index -1
    font-weight bold

.t1
  color rgba(246,180,81,0.3)

.t2
  color rgba(1,187,235,0.12)

.t3
  color rgba(48,45,43,0.12)

.t4
  color rgba(60,162,161,0.2)

.proyeccion
  width 100%
  height auto
  padding 60px 0
  background-color #f5f5f5  
  &-mision, &-vision
    width 85%
    height auto
    margin 0 auto
    &--imagen
      width 220px
      height 220px
      margin 0 auto
      background-size cover
      background-position center
   

.proyeccion-mision
  &--imagen
    background-image url('../img/manantial-mision.png')
  &--contenido
    margin-top 60px
    h2
      color #01BBEB
    p
      line-height 22px
      color #7C7C7C

.proyeccion-vision
  margin-top 80px
  &--imagen
    background-image url('../img/manantial-vision.png')
  &--contenido
    margin-top 60px
    h2
      color #01BBEB
    p
      line-height 22px  
      color #7C7C7C  

.historia
  width 100%
  height auto
  background-image linear-gradient(-180deg, #F8E776 0%, #09EAE6 99%)
  position relative
  padding 30px 0
  &-imagen
    position absolute
    top -30px
    left 50%
    transform translate(-50%, 0)
    width 220px
    height 220px
    background-image url('../img/manantial-historia.jpg')
    background-size cover
    background-position center
    border-radius 3px
    box-shadow 0 10px 10px 0 rgba(0,0,0,0.35)
  &-contenido
    padding-top 160px
    width 85%
    margin 0 auto
    height auto  
    h2
      color #444444
      margin-top 40px
    p
      color #444444
      line-height 22px  
    .boton
      width 120px
      height 40px
      line-height 40px
      text-align center
      border-radius 32px
      background-color #ff8f00 
      color #ffffff
      font-size 14px
      cursor pointer
      outline none

.filosofia
  width 100%
  height 600px
  background-image linear-gradient(-180deg, #09EAE6 0%, #F8E776 100%)
  padding 30px 0 
  &-imagen
    width 220px
    height 220px
    margin 0 auto
    background-image url('../img/manantial-filosofia.jpg')
    background-size cover
    background-position center
    border-radius 3px
    box-shadow 0 10px 10px 0 rgba(0,0,0,0.35)
  &-contenido
    width 85%
    margin 0 auto
    height auto  
    h2
      color #444444
      margin-top 40px
    p
      color #444444
      line-height 22px  

.valores
  width 100%
  height auto
  padding 30px 0
  &-contenido
    width 85%
    max-width 1250px
    height auto
    margin 0 auto  
    h2
      color #3ca2a1  

.valores-slide--caja
  text-align center
  margin-top 40px
  .image
    width 220px
    height 220px
    border-radius 50%
    margin 0 auto
    background-size cover
    background-position center
    box-shadow 0 0 40px 5px #F3E276
  h3
    font-size 30px  
    font-family 'Baloo Bhai', sans-serif

.amor
  background-image url('../img/manantial-amor.jpg')

.excelencia
  background-image url('../img/manantial-excelencia.jpg')

.integridad
  background-image url('../img/manantial-integridad.jpg')  

.respeto
  background-image url('../img/manantial-respeto.jpg')    

.unidad
  background-image url('../img/manantial-unidad.jpg')   

.responsabilidad
  background-image url('../img/manantial-responsabilidad.jpg')   

.mayordomia
  background-image url('../img/manantial-mayordomia.jpg')   

footer 
  background-color #F3E276
  padding 30px 0
  .footer-contenido
    width 85%
    margin 0 auto
    ul
      margin 0
      padding 0
      text-align center
      display -webkit-flex
      display -moz-flex
      display -ms-flex
      display -o-flex
      display flex
      justify-content center
      flex-wrap wrap
      li
        list-style none
        padding 5px 0
        width 45% 
        margin 1%
        a
          text-decoration none
          color #212121
          transition all .3s ease-in-out
          font-family 'Oswald', sans-serif
          &:hover
            color #e65100
  .footer-derechos
    width 85%
    margin 20px auto 0 auto
    text-align center
    span
      color #263238
      font-size 14px

.botonSubir
  position fixed
  right 5%
  bottom -20%
  width 50px
  height 50px
  line-height 62px
  text-align center
  background-color #ff6f00
  border-radius 50%
  box-shadow 0 0 10px 5px rgba(0,0,0,0.12)
  overflow hidden
  transition all 0.3s ease-in-out
  outline none
  a
    color #ffffff
    width 100%
    height 100%
    display block
    cursor pointer      

@media(orientation:landscape)
  .header-contenedor
    .header-logo
      width 40%
    .header-menu-burger
      width 55%

  .menu-options
    width 90%
    margin 0 auto
    ul
      display -webkit-flex
      display -moz-flex
      display -ms-flex
      display -o-flex
      display flex
      flex-wrap wrap
      justify-content center
      li
        width 40%

@media (min-width 768px)
  .header-contenedor
    height 100px
    .header-logo
      width 30%
      img 
        width 175px
        height 73px
        margin-top 13.5px
    .header-menu-burger
      width 70%

  .icon-menu
    margin-top 14px 

  .contenedor-principal
    &--mensaje
      height auto
      h1
        font-size 42px
        margin-bottom 0px
      p
        margin 0 0 15px 0
        font-size 22px
      .boton-leer
        font-size 18px  

  .menu-options
    ul
      li
        height 55px
        line-height 55px
        a
          font-size 32px
          font-weight 500

  .modal-contenedor
    .boton-cerrar
      width 50px
      height 50px
      line-height 62px

  .modal-contenedor--informacion
    height calc(100vh - 105px)
    margin 105px auto 0 auto
    .titulo
      h4
        font-size 30px
    .contenido
      p
        line-height 25px
        font-size 18px
      ul
        li
          font-size 18px
          line-height 22px
          margin-bottom 10px
  
  .modal-historia
    .modal-contenedor--informacion
      margin 105px auto

  .efecto-titulo
    font-size 35px
    span
      font-size 60px 

  .nosotros
    &-mensaje
      p
        font-size 18px  
        line-height 24px 

  .proyeccion-mision, .proyeccion-vision, 
    &--contenido
      p
        font-size 18px
        line-height 24px

  .historia, .filosofia
    &-contenido
      p
        font-size 18px
        line-height 24px
      .boton
        font-size 18px      

  footer 
    .footer-contenido
      ul
        li
          width 30% 
          a
            font-size 18px
    .footer-derechos
      span
        font-size 15px

  .botonSubir
    width 60px
    height 60px
    line-height 74px
    a
      i 
        font-size 30px     

@media (min-width 1024px)
  

  .icon-menu--content
    display none

  .overlay-menu
    display block
    position absolute
    width 50%
    height 100px  
    left 45%
    background-color transparent
    z-index 20

  .menu-options
    ul
      display -webkit-flex
      display -moz-flex
      display -ms-flex
      display -o-flex
      display flex
      justify-content space-around
      li
        width auto
        height 100px
        line-height 100px
        a
          font-size 18px
          color #ffffff
          font-weight 0
          transition all .3s ease-in-out
          text-shadow 1px 1px 2px #ffab00

  .contenedor-principal
    &--mensaje
      h1
        font-size 42px
        margin-bottom 0px
      p
        margin 0 0 15px 0
        font-size 20px
      .boton-leer
        font-size 16px 

  .efecto-titulo
    font-size 40px
    span
      font-size 65px

  .nosotros
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content center
    padding 55px 0 0 0
    &-mensaje
      width 42%
      max-width 600px
      margin 20px 0 0 0
      h2
        margin 0
        color #F19307
      p
        font-size 14px  
        line-height 22px 
    &-imagen
      display block
      background-size contain
      background-repeat no-repeat
      background-position center
      width 40%
      max-width 400px
      height 330px
  
  .proyeccion-mision, .proyeccion-vision
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    align-content center
    width 80%
    max-width 1050px
    &--imagen
      width 250px
      height 250px
      margin-top 40px
      margin-left 0
    &--contenido
      width 60%
      margin-top 0
      p
        font-size 14px  
        line-height 22px

  .proyeccion-vision
    &--imagen
      order 2
      margin-top 0
      margin-left auto
      margin-right 0
    &--contenido
      order 1  
      margin-left 5%

  .historia, .filosofia
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content center
    align-content center
    padding 80px 0 40px 0
    &-imagen 
      width 250px
      height 250px
      position inherit
      top 0
      left 0
      transform translate(0,0)
      margin 40px 5% 0 0
    &-contenido
      width 50%
      max-width 600px
      padding-top 0
      margin 0
      p
        font-size 14px

  .filosofia
    height auto
    padding 40px 0 80px 0
    &-imagen
      order 2
      margin 40px 0 0 5%
    &-contenido
      order 1
        
  footer 
    .footer-contenido
      width 50%
      max-width 500px
      ul
        justify-content space-between
        li
          list-style none
          padding 5px 0
          width auto
          margin 0
          a
            font-size 14px
            font-weight 500
    .footer-derechos
      width 50%
      span
        font-size 12px


@media (min-width 1200px)

  .header-contenedor
    .header-logo
      width 40%
      text-align justify
      margin-left 5%

  .overlay-menu
    width 60%  
    left 40%

  .menu-options
    width 70%

  .contenedor-principal
    background-attachment fixed

  .nosotros
    &-mensaje
      p
        font-size 15px

  .proyeccion-mision, .proyeccion-vision
    &--imagen
      width 300px
      height 300px
    &--contenido
      p
        font-size 15x  

  .historia, .filosofia  
    &-imagen
      width 300px
      height 300px
    &-contenido
      p
        font-size 15px 

@media (min-width 1400px)

  .menu-options
    width 50%

  .modal-historia
    .modal-contenedor--informacion
      margin-bottom 0

/*  
@media (min-width 1400px)  
*/

